/* These styles are just to make it easier to see the blocks, initially. */
strong { font-weight: bold; }

@font-face {
	font-family: 'NeueBit';
	src: url('PPNeuebit/PPNeueBit-Regular.woff2');
	font-weight: 400;
 }

@font-face {
	font-family: 'NeueBit';
	src: url('PPNeuebit/PPNeueBit-Bold.woff2');
	font-weight: 700;
 }

/* Mondwest */

@font-face {
	font-family: 'Mondwest';
	src: url('PPMondwest/PPMondwest-Regular.woff2');
	font-weight: 400;
 }

@font-face {
	font-family: 'Mondwest';
	src: url('PPMondwest/PPMondwest-Bold.woff2');
	font-style: bold;
	font-weight: 700;
}


/* Argent */

@font-face {
	font-family: 'Argent';
	src: url('Argent/ArgentPixelCF-Italic.woff2');
	weight: 400px;
}


/*|| VARIABLES */ 

/* FOR MOBILE */

:root{
    --border-radius:12px;
    --gap: 30px;
    --padding: 30px;

    --bg-color: rgb(255, 255, 255);
	--main-color: black;

	--gallery-height: none;
	--height: 350px;

	--contributor-gap: 20px;


    /* typescale */
  
    --text-xl: calc(var(--text-base)*6);
	--text-lg: calc(var(--text-base)*1.125);
	--text-base: 30px;
	--text-sm: calc(var(--text-base)*0.875);
	--text-xs: calc(var(--text-base)*0.3);

	--gallery-height: 5000px;
	--des-width: 90vw;
	
	--display: block;
}

/* || DESKTOP */

@media (min-width:650px) {
    :root {
	--padding: 30px;
	--des-width: 80vw;
	--height: 400px;

	--contributor-gap: 200px;

	/* typescale */

	--text-xl: calc(var(--text-base)*8);
    
    }
}


/* LINKS */

/* \00a0 is space */


.arena {
	padding-top: 5px;
  }
  
.allmedia {
	padding-top: 5px;
	
}

.linkbutton {
	padding-top: 5px;
	margin-right: 10px;
	display: inline-block;
	width: 20px;
	height: 20px;
  }

.videobutton {
	padding-top: 5px;
	margin-right: 6px;
	display: inline-block;
	width: 20px;
	height: 20px;
  }

.imagebutton{
	padding-top: 5px;
	display: inline-block;
	width: 18px;
	height: 18px;
  }

.link-title::before {
	content: url("https://svgshare.com/i/qgd.svg");
	margin-right: 5px;
	display: inline-block;
	width: 20px;
	height: 20px;
}

.link-title {
	padding: 8px;
}

/* || PARTS OF THE WEBSITE */

body {
	font-family: 'Neuebit', monospace;
	font-size: var(--text-base);
	
}

main{
	padding: var(--padding);

}

.channel-owner, .channel-collaborator {
	font-family: 'Argent';
	line-height: 50%;
	font-style: italic;
	font-size: var(--text-xs);
}

.ownercollaborator {
	display: flex;
	padding: var(--padding);
	gap: var(--contributor-gap);
	margin-bottom: 10px;
	/* border-bottom: 3px solid black; */

}

.together {
	display: inline-block;
}

.row {
	display: flex;
	flex-direction: row;
	gap: var(--padding);
	margin-bottom: var(--padding);
	overflow: hidden;
	overflow-x: scroll;
}

/* || TYPOGRAPHY*/

h1 {
	font-family: 'Argent';
	font-style: italic;
    font-size: var(--text-xl);
}


body {
	font-family: 'NeueBit';
}

.channel-description {
	max-width: var(--des-width);
	font-family: 'mondwest';
	font-weight: 400;
}

@media (min-width:650px) {
	
	.channel-description {
		max-width: var(--des-width);
		font-family: 'mondwest';
		font-weight: 400;
	}
}

.bottom-padding {
	padding-bottom: var(--padding);
}

.small{ 
	font-size: var(--text-xs);
	display: inline;
}





/* || Blocks */

.image-blocks {
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	gap: var(--gap) var(--gap);
	flex-wrap: wrap;
	width: 82vw;
}

body{
	background-color: white;
}

@media (min-width:650px) {
    .image-blocks {
		width: 40vw;
		height: 7200px;
	}

	/* body{
		background-color: gold;
	} */
}

@media (min-width:800px) {
    .image-blocks {
		width: 25vw;
		height: 5100px;
	}
}

.red {
	border: 3px solid var(--main-color);
	box-shadow: 6px 6px 0px var(--main-color);
}

.red:hover, .red:active {
	border: 3px solid var(--main-color);
	box-shadow: 0px 0px 0px var(--main-color);
}

figure.img {
	display: block;
	width: 100%; 
}

/* || flexbox */

.bar {
	display: flex;
	gap: 10px;
	padding-top: 8px;
	padding-bottom: 6px;
	padding-left: 8px;
	padding-right: 8px;
	align-items: end;

}

.svg{
	height: 16px;
	min-width: 16px;
	width: auto;
	object-fit: cover;
}

.image {
	border-top: 3px solid var(--main-color);
	border-bottom: 3px solid var(--main-color);
	width: 100%;
	margin-bottom: -8px;
}

li {
	transition: 0.3s;
}

li:hover {
	transform: translate(-5px, -10px);
  }


/* button */

.button {
	transition: 0.3s;
	display: block;
	color: white;
	padding-top: 8px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 10px;
	background-color: black;
	box-shadow: 
	8px 0px 0px -4px black, 
	-8px 0px 0px -4px black, 
	16px 0px 0px -8px black, 
	-16px 0px 0px -8px black;
	margin: 8px;
	width: fit-content;
	align-items: center;
}

.button:hover {
	transform: translate(-4px, -4px);
	background-color: rgb(50, 50, 50);
	box-shadow: 
	8px 0px 0px -4px  rgb(50, 50, 50), 
	-8px 0px 0px -4px  rgb(50, 50, 50), 
	16px 0px 0px -8px  rgb(50, 50, 50), 
	-16px 0px 0px -8px  rgb(50, 50, 50);
	margin: 8px;
}

.icon {
	display: block;
	height: 20px;
	width: 20px;
	margin:auto;
	margin-top:auto;
	margin-bottom: auto;

}

#myBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	background-color: white; 
	padding: 15px;
	z-index: 99;

	transition: 0.3s;
	border: 3px solid black;
	box-shadow: 4px 4px 0px var(--main-color);
  }
  
#myBtn:hover {
	transform: translate(-4px, -8px);
	box-shadow: 0px 0px 0px var(--main-color);
	
  }

/* || ANIMATION */

.scroll-left {
margin-top: -60px;
overflow: hidden;
height: var(--height); 
position: relative;
}
.scroll-left h1 {
position: absolute;
width: 100%;
height: 100%;
margin: 0;
line-height: 500px;
text-align: center;

/* Starting position */
-moz-transform:translateX(100%);
-webkit-transform:translateX(100%); 
transform:translateX(100%);

/* Apply animation to this element */ 
-webkit-animation: scroll-left 30s linear infinite;
animation: scroll-left 30s linear infinite;
}

/* Move it (define the animation) */
@-webkit-keyframes scroll-left {
0% { -webkit-transform: translateX(100%); }
100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
0% { 
-webkit-transform: translateX(100%); /* Browser bug fix */
transform: translateX(100%); 
}

100% { 
-webkit-transform: translateX(-100%); /* Browser bug fix */
transform: translateX(-100%); 
}
}